body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
}

form {
  width: 320px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.campo {
  margin-bottom: 15px;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input.valido {
  border-color: green;
}

input.invalido {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
}

button {
  width: 100
